@media(max-width:1280px) {
    .hero-text h6 {
        line-height: 42px;
    }

    .hero-images {
        padding: 0px 90px;
    }

    .hero-text h2 {
        font-size: 62px;
        line-height: 72px;
    }

    .hero {
        margin-top: 25px !important;
    }

    .hero-text {
        padding: 15px 0px;
    }

    .hero-logo-img {
        width: 50%;
    }

    .hero-text p {
        padding: 8px 80px 0px 0px;
    }

    .hero-btn {
        padding-top: 0px;
    }

    .slider {
        width: 95%;
    }

    .flickity-prev-next-button.next {
        right: -20px;
    }

    .flickity-prev-next-button.previous {
        left: -25px;
    }

    .conf-img {
        width: 100%;
    }
}

@media(max-width: 1270px) {
    .mid-link {
        margin: 0px 7px;
    }

    .hero-images {
        padding: 0px 10px;
    }

    .hero-text p {
        padding-right: 0px;
    }

    .hero-text p {
        padding: 20px 20px 20px 0px;
    }

    .flickity-prev-next-button.next {
        right: -8px;
    }

    .flickity-prev-next-button.previous {
        left: -8px;
    }

    .rest-content p {
        padding: 0px;
    }

    .rest-btn {
        padding-top: 35px;
    }

    .conf-img {
        width: 100%;
    }

    .conf-content p {
        padding: 0px;
    }

    .ts-content h2 {
        font-size: 33px;
        line-height: 43px;
    }

    .ts-car-content p {
        padding: 0px;
    }

    .ts-car-section {
        padding: 100px 0px;
    }

    .ts-car-content h2 {
        font-size: 32px;
        line-height: 43px;
    }

    * {
        /* border: 1px solid red; */
    }
}

@media(max-width:1023px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mid-link {
        padding: 15px 0px !important;
    }

    .nav-content {
        background-color: #F3FFEC;
    }

    .nav-icons {
        flex-direction: row;
        padding: 30px 0px;
    }

    .nav-icon {
        padding: 8px 8px;
    }

    .youtube {
        padding: 10px 7.5px;
    }

    .hero-content {
        padding-bottom: 50px;
    }

    .room-section {
        margin-top: 150px;
    }

    .restaurent {
        margin-top: 150px;
    }

    .rest-images {
        margin-top: 50px;
    }

    .conf-content h2 {
        text-align: center;
    }

    .conf-content p {
        width: 100%;
    }

    .ts-car-content {
        justify-content: center;
        align-items: center !important;
    }

    .ts-car-content h2 {
        text-align: center;
    }

    .ts-car-content p {
        text-align: center;
    }

    .ts-car-section {
        padding: 70px 0px;
    }

    .car {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ts-car {
        background-size: 170%;
        margin-top: 100px;
    }

    .footer {
        margin-top: 100px;
    }

    .footer-ul {
        padding: 0px !important;
        flex-wrap: wrap;
    }

    .menu-image {
        width: 100%;
    }

    .conf-img {
        width: 100%;
    }



    /* ======================================================== */
    /* ======================================================== */
    /* ======================================================== */
}

@media(max-width:767px) {
    .input-sm {
        width: 100%;

    }

    /* ========================== */
    .hero-logo {
        display: none;
    }

    .hero {
        margin-top: 0px !important;
    }

    .room-section {
        margin-top: 100px;
    }

    .restaurent {
        margin-top: 120px;
    }

    .rest-sm-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    /* ========================== */
    p {
        font-size: 16px;
    }

    .toggle {
        width: 30px;
        height: 25px;
    }

    .navbar-toggler:not(.collapsed) .toggle #bar3 {
        transform: rotate(-45deg) translateY(0px);
    }

    .navbar-toggler:not(.collapsed) .toggle #bar1 {
        transform: rotate(45deg) translateY(0px);
    }

    .hero-content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-content h2 {
        font-size: 55px;
        text-align: center;
    }

    .hero-content h6 {
        text-align: center;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .room-content p {
        text-align: center;
    }

    .flickity-prev-next-button {
        display: none;
    }

    .flickity-page-dots {
        display: block;
        width: 90%;
    }

    .conf-section {
        padding: 60px 0px;
    }

    .ts-content {
        align-items: center !important;
    }

    .ts-content h2 {
        text-align: center;
    }

    .ts-content p {
        padding: 0px;
    }

    .ts-content-2 p {
        padding: 0px;
    }

    .ts-content h6 {
        text-align: center;
    }

    .ts-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ts-car {
        background-size: auto;
        background-position: left;
    }

    .footer-img-content a {
        font-size: 14px;
    }

    .ts-col {
        /* width: 90% !important; */
        /* margin: auto; */
        padding: 5px 0px !important;
    }

    .ts-sm {
        width: 100%;
        padding: 0px;
    }

    .ts-sm img {
        border-radius: 0px !important;
        padding: 0px;
    }

    .ts-section {
        padding: 0px 0px 100px 0px;
    }

    .ts-images {
        padding: 0px !important;
    }

    .ts-img {
        width: 100%;
        padding: 0px 1px;
    }

    * {
        /* border: 1px solid red; */
    }

    .rest-content {
        align-items: center !important;
    }

    .rest-content h2 {
        text-align: center;
    }

    .slider {
        padding: 0px !important;
    }

    .slider-col {
        padding: 0px 3px;
    }

    .rest-images-row {
        width: 100%;
        margin: auto;
        padding: 0px;
    }

    .conf-img {
        padding: 0px 2px;
    }

    .ts-sm {
        width: 25% !important;
    }

    .ts-col {
        width: 75%;
        padding: 1px !important;
    }

    /* ======================================================== */
    /* ======================================================== */
    /* ======================================================== */
    .rest-overlay {
        opacity: 1 !important;
    }

}

@media(max-width:424px) {
    p {
        font-size: 14px !important;
    }

    .hero-btn a {
        font-size: 16px;
        padding: 10px 18px;
    }

    .hero-content h2 {
        font-size: 43px;
        line-height: 43px;
    }

    .room-content h2 {
        text-align: center;
    }

    .ts-content h2 {
        font-size: 30px;
    }

    .footer-li {
        padding: 5px 10px;
    }

    .footer-img {
        align-self: center;
    }

    .footer-img-content {
        align-items: start !important;
        justify-content: start !important;
    }
}



/* ======================================================== */
/* ======================================================== */
/* ======================================================== */